html {
  background: url('/static/images/blue.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding: 50px;
  font: 16px Arial, Helvetica, sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* body {
  background: url('/static/images/blue.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 16px Arial, Helvetica, sans-serif;
} */

 a {
  text-decoration: none;
}

/* a:hover {
  color: black;
}  */



/* Style for nav bar  */
nav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
}

nav h2 a {
  font-size: 30px;
  color: white;
  margin-left: 40px;
};

nav h2 a:hover {
  color: black;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 40px
}

nav ul li a {
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: black;
}

nav ul li.username {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0;
}


/* Style for home.html  */
.home {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.home h1 {
  color: white;
  font-size: 50px;
  margin-top: 50px;;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.home h2 a {
  color: white;
}

.home h2 a:hover {
  color: black;
}

/* Style for forms */
#message {
  width: 60%;
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-left: 230px;
}

#message h3 {
  text-align: center;
}

.container {
  width: 60%;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: 230px;
  border: 1px solid #aaa;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.container h2 {
  margin-bottom: 40px;
}

form {
  margin-left: 20px;
  margin-right: 20px;
}

form .cancel-div {
  margin-bottom: 20px;
}


form .cancel {
  color: black;
}

form .cancel:hover {
  color: grey
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
}

input:focus {
  outline: none;
  border-radius: 8px;
  border: 2px solid #f09ce8;
}

.gird-30 {
  width: 60%;
}

button[type="submit"] {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Style for submit button */
.submit-button {
  background-color: #f09ce8;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.submit-button {
  background-color: white;
  color: black;
  border: 2px solid #f09ce8;
}

.submit-button:hover {
  background-color: #f09ce8;
  color: white;
}


/* Style for birthday list  */
#birthdays {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#birthdays td, #birthdays th {
  border: 1px solid #ddd;
  padding: 8px;
}

#birthdays td a {
  color:black;
}

#birthdays td a:hover {
  color:grey;
}

#birthdays tr:nth-child(even){background-color: #f2f2f2;}

#birthdays tr:hover {background-color: #ddd;}

#birthdays th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f09ce8;
  color: white;
}


/* Style for cancel confirmation page */
.cancel-div {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cancel-button {
  color: black;
}

.cancel-button:hover {
  color: grey;
}
